<% @form_freelancer.each do |form_freelancer|%>
    <h4>Name:</h4>
    <li><%= form_freelancer.name %><br/>

    <h4>Job:</h4>
    <li><%= form_freelancer.job %><br/>

    <h4>Date:</h4>
    <li><%= form_freelancer.date %><br/>

    <h4>Customer:</h4>
    <li><%= form_freelancer.customer %><br/>

    <h4>Income:</h4>
    <li><%= form_freelancer.income %><br/>

    <h4>Description:</h4>
    <li><%= form_freelancer.description %><br/>
<% end %>