<% @form_employee.each do |form_employee| %>

    <h4>CompanyName:</h4>
    <li><%= form_employee.companyname %><br/>

    <h4>Tax:</h4>
    <li><%= form_employee.tax %><br/>

    <h4>Address:</h4>
    <li><%= form_employee.address %><br/>

    <h4>Name:</h4>
    <li><%= form_employee.name %><br/>

    <h4>Position:</h4>
    <li><%= form_employee.position %><br/>

    <h4>Date:</h4>
    <li><%= form_employee.date %><br/>

    <h4>Description:</h4>
    <li><%= form_employee.description %><br/>

    <h4>Income:</h4>
    <li><%= form_employee.income %><br/>

    <h4>Note:</h4>
    <li><%= form_employee.note %><br/>
            
<% end %>